<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Crop Yield Prediction</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Accomplished By</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Crop Yield Prediction</h1>
      <p style="color: black;">Welcomes you on our website, 
      Crop yield prediction with decision tree regression involves using factors like
      temperature, humidity, soil moisturecrop type, and area to forecast yields.
      Decision tree regression recursively partitions the dataset based on these variables, 
      creating a tree structure where nodes represent decisions and leaf nodes represent yield predictions.
      </p>
      <br>
      <h3 style="color: black;">Let's Start </h3>
      <br>
      <h2 style="color: black;">Click following button for Crop recommandation</h2>
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>